* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    min-height: 100vh;
    background-image: url(Images/bush.webp)
}

main, nav, aside {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}


.logo {
    font-size: 30px;
}

header, footer {
    background-color: aliceblue;
    padding: 40px 0;
}

header {
    margin-bottom: 30px;
    background-color: aliceblue;
    padding: 40px 0;
    border-bottom: 3px navy solid;
}

h1, footer, .logo, .link {
    color: navy
}

h1, h2 {
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

nav {
    display: flex;
}

.logo{
    margin-right: auto;
}

.link{
    margin: 0 4px;
}

.flex-container {
    display: flex;
}

section {
    background-color: aliceblue;
    padding: 10px 10px;
    max-width:50%;
}

p {
    line-height: 140%;
    margin: 1em 0;
}

img {
    float: left;
    margin: 10px;
}

aside {
    color: navy;
    background-color: aliceblue;
    max-height: 150px;
    vertical-align: top;
    justify-content: space-between;
}

nav#connect {
    justify-content: space-between;
}